[submodule "rails5_todo_api"]
	path = rails5_todo_api
	url = git@github.com:sunapi386/rails5_todo_api.git
[submodule "ember_todo_list"]
	path = ember_todo_list
	url = git@github.com:sunapi386/ember_todo_list.git
